ul{
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 0px;
    overflow: hidden;
    border-bottom: 1px solid rgb(187, 183, 183);font-weight: bold;
    
    
}
li{
    float: left;
    
}
a:link{
    

}
a:visited{

}
a:hover{
    color: #ffae00;
    

}
a:active{
    color: #ffae00;
}
li a{
    display: inline;
    padding: 10px 40px 0px 0px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: rgb(132, 131, 131);
    
}
#sn{
    font-size: 30px;
    color: black;
}
#main{
    position: relative;
    width: 1500px;
    height: 600px;
    border: 1px solid black;
}
#dv1{
    position: absolute;
    top: 200px;
    height: 550px;
    width: 500px;
    margin-left: 200px;
    z-index: -1;
}
#dv2{
    position: absolute;
    top: 230px;
    left: 770px;
    height: 300px;
    width: 450px;
    /* border: 1px solid navy; */
    margin-top: 1px;
}
#dv3{
    position: absolute;
    left: 848px;
    top: 524px;
    height: 15px;
    width: 35px;
    background-color: rgb(208, 206, 205);
    text-align: center;
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 1px;
    border-radius: 3px;
    color: hwb(31 0% 0%);

}
#dv4{
    position: absolute;
    left: 900px;
    top: 600px;
    height: 15px;
    width: 250px;
    height: 30px;
    background-color: rgb(208, 206, 205);
    text-align: center;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
    border-radius: 6px;
    color: white;
    background-color: hwb(31 0% 0%);
}


#mg1{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 60px;
    
}
#mg2{
    width: 50px;
    height: 50px;
    padding-right: 40px;
    
}
.mg13{
    width: 500px;
    height: 400px;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    border-radius: 10px;
}

.mg18{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 430px;
    left: 0px;
    border-radius: 10px;
}
.mg17{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 430px;
    left: 132px;
    border-radius: 10px;
    
}
.mg19{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 430px;
    left: 268px;
    border-radius: 10px;
}
.mg16{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 430px;
    left: 400px;
    border-radius: 10px;
}
#mgcart{
    width: 15px;
    height: 15px;
}
.h1{
    font-size: 14px;
    color: #ffae00;
    padding-bottom: 0px;
    margin-bottom: -20px;

}
.p1{
    font-size: 45px;
    padding-top: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
    
}
.p2{
    font-size: 20px;
    word-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: -10px;
    

}
.p3{
    color: rgb(182, 179, 177);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    text-decoration: line-through;
    padding-top: 8px;

}
#p4{
    font-size: 18px;
    padding-bottom: 20px;
}
span{cursor: pointer;}

.number{
    margin: 100px;
    position: absolute;
    left: 675px;
    top: 505px;
    
    
    
}
.minus{
    
    width: 15px;
    height: 15px;
    background-color: #efedea;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #efedea;
    display: inline;
    vertical-align: middle;
    text-align: center;
    margin: -5px;
    
}
.plus{
    width: 15px;
    height: 15px;
    background-color: #efedea;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #efedea;
    display: inline;
    vertical-align: middle;
    text-align: center;
    margin: -5px;
}
input{
    width: 70px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #efedea;
    display: inline;
    margin: 1px;
    
    background-color: #efedea;
    

    
}

